<!DOCTYPE html>
 <html>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 <body>

  <div ng-app="">
   <p>Input your name:</p>
   <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
   <h1>Your name is {{name}}</h1>
  </div>
  // AngularJS Expressions
  <div ng-app="" ng-init="Balance=500">
   <p>Balance: ${{ Balance }}</p>
  </div>
  // AngularJS Numbers
  <div ng-app="" ng-init="USD=500;cost=22690">
    <p>Total in VND: <span ng-bind="USD * cost"></span></p>
  </div>
  // The ng-repeat directive actually clones HTML elements once for each item in a collection.
  <div ng-app="" ng-init="$=[
   {account:'0',balance:'500'},
   {account:'1',balance:'1000'},
   {account:'2',balance:'2000'}]">

   <p>Looping with objects:</p>
   <ul>
     <li ng-repeat="x in $">
     {{ x.account + ', ' + x.balance }}</li>
   </ul>
 </div>
 
 <div ng-include="'index.htm'"></div>


 </body>
</html>
